body{
    font-family: 'Lucida Sans';
    font-size: 24px;
    text-align: left;
}   

h1{
    margin: 0;
}

article{
    background-color: gray;
}

.coluna1{
    float: left;
    width: 49%;
}
.coluna2{
    float: right;
    width: 49%;
}

.coluna1, .coluna2{
    background-color: orange;
}
div{
    background-color: aqua;
    text-decoration: double;
    clear: both;
    text-align: center;
}