body{
    color: black;
}

p{
    text-align: right;
    color: red;
    line-height: 3px;
    letter-spacing: 4px;
    word-spacing: 5px;
}

h1{
    color: green;
    font-family: Arial;
    font-size: 20px;
}
strong{
    color: yellow
}

.projeto{
    color: green;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

#teste{
    color: blue;
}

ul>li{
    padding: 10px;
}