body{
    font-family: Arial;
    font-size: 26px;
    background-color: bisque;
    background-image: url(../img/computador.png);
    background-repeat: no-repeat;
}

.container{
    width: 100px;
    margin: auto;
}

p{
    text-align: justify;
    width: 600px;
    border: 6px solid green;
    background-color: gray;
    padding: 20px 60px;
    color: blue;
}