body{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    border-width: thin;
    border-color: aqua;
    border-style: solid;
}
/*shorthand */
a{
    border: thick green dashed;
}

p{
    width: 250px;
    height: 250px;
    border: 5px black dotted;
    border-radius: 30px 20px 0px 40px;
    background-color: #ccc;
}